<a href="https://colab.research.google.com/github/alecav98/SUMMIT/blob/master/Preprocessing3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Preprocessing Phase III

In order to run this notebook successfully you need: train_digits.csv and test_digits.csv from Preprocessing1.ipynb for digits images, and big_df.csv from Preprocessing2.ipynb for symbols images.

## Final Preprocessing

If it's your first time running the code, run all the cells under this header. Otherwise, you can move on to the model notebook.

In [0]:
# Importing all necessary packages

from sklearn.model_selection import train_test_split
import pandas as pd
import math

In [2]:
# Read in the necessary CSV's
big2_df = pd.read_csv('big_df.csv')
train_digits = pd.read_csv('train_digits.csv')
test_digits = pd.read_csv('test_digits.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (784) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# Check the shape of dataframe
big2_df.shape

(83501, 785)

In [4]:
# Check that train digits is ready for merging
train_digits.head()

     0    1    2    3    4    5    6  ...  778  779  780  781  782  783  Target
0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  1.0  1.0  1.0  1.0  1.0  1.0       0
1  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  1.0  1.0  1.0  1.0  1.0  1.0       4
2  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  1.0  1.0  1.0  1.0  1.0  1.0       1
3  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  1.0  1.0  1.0  1.0  1.0  1.0       9
4  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  1.0  1.0  1.0  1.0  1.0  1.0       2

[5 rows x 785 columns]

In [5]:
# Create a copy and check it was done successfully
simple_df = big2_df
simple_df.shape

(83501, 785)

In [6]:
# Filter the copied df to include just 4 math operations
some_values = ['+', '-', 'div', 'times']
simple_df = simple_df[simple_df.Target.isin(some_values)]
simple_df.shape

(12222, 785)

In [0]:
# Check that filtering was successful
simple_df

In [0]:
# Check distribution of symbols
simple_df.groupby('Target')['Target'].agg('count')

In [0]:
# Shuffle dataframe
shuffled_df = simple_df.sample(frac=1).reset_index(drop=True)

In [0]:
# Make sure its shuffled
shuffled_df.head(30)

In [0]:
# map labels to numbers
symbols_list = shuffled_df['Target'].unique()
di = {}
new_list = list(enumerate(symbols_list, start=10))

for i in range(len(symbols_list)):
  di[new_list[i][1]] = new_list[i][0]

In [0]:
# Changing the targets in the df based on the dictionary
remapped_df = shuffled_df
remapped_df.replace({"Target": di}, inplace=True)
remapped_df

In [13]:
# Make sure it mapped correctly
remapped_df['Target'].nunique()

4

In [0]:
# Split into train and test
train_symbols, test_symbols = train_test_split(
  remapped_df,
  stratify=remapped_df['Target'],  
  test_size=0.2,
)

In [15]:
# See what the split looks like
print(train_symbols.shape)
print(test_symbols.shape)

(9777, 785)
(2445, 785)

And also verify the stratification for training data:

In [16]:
train_symbols.groupby('Target')['Target'].agg('count')

Target
10    4354
11    4817
12     480
13     126
Name: Target, dtype: int64

And testing data:

In [17]:
test_symbols.groupby('Target')['Target'].agg('count')

Target
10    1089
11    1205
12     120
13      31
Name: Target, dtype: int64

In [18]:
train_digits.shape

(59999, 785)

In [19]:
train_digits.head()

     0    1    2    3    4    5    6  ...  778  779  780  781  782  783  Target
0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  1.0  1.0  1.0  1.0  1.0  1.0       0
1  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  1.0  1.0  1.0  1.0  1.0  1.0       4
2  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  1.0  1.0  1.0  1.0  1.0  1.0       1
3  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  1.0  1.0  1.0  1.0  1.0  1.0       9
4  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  1.0  1.0  1.0  1.0  1.0  1.0       2

[5 rows x 785 columns]

We will merge train_symbols and train_digits to make one unified training dataset. First, we need to make sure that their types are compatible.

In [0]:
print(type(train_digits.columns[0]))
print(type(train_symbols.columns[0]))

In [0]:
# Need to change type of column names so that they match
# Rename all the columns in train_symbols by their pixel number
new_list = list(range(784))
new_list.append('Target')

# Rename columns of both datasets
train_digits.columns = new_list
train_symbols.columns = new_list

In [22]:
# Merge two datasets for training
merged_df = pd.concat([train_symbols, train_digits], ignore_index=True)
merged_df.head()

     0    1    2    3         4    5  ...  779  780  781  782  783  Target
0  1.0  1.0  1.0  1.0  1.000000  1.0  ...  1.0  1.0  1.0  1.0  1.0      11
1  1.0  1.0  1.0  1.0  1.000000  1.0  ...  1.0  1.0  1.0  1.0  1.0      11
2  1.0  1.0  1.0  1.0  1.000000  1.0  ...  1.0  1.0  1.0  1.0  1.0      11
3  1.0  1.0  1.0  1.0  0.996078  1.0  ...  1.0  1.0  1.0  1.0  1.0      10
4  1.0  1.0  1.0  1.0  1.000000  1.0  ...  1.0  1.0  1.0  1.0  1.0      12

[5 rows x 785 columns]

In [23]:
# See stratification of merged training data
merged_df.groupby('Target')['Target'].agg('count')

Target
0     5923
1     6742
2     5958
3     6131
4     5842
5     5420
6     5918
7     6265
8     5851
9     5949
10    4354
11    4817
12     480
13     126
Name: Target, dtype: int64

In [24]:
# We need to change type of column names so that they match
# Rename all the columns in train_symbols by their pixel number
new_list_test = list(range(784))
new_list_test.append('Target')

# Rename all the columns in test datasets by their pixel number
test_symbols.columns = new_list_test
test_digits.columns = new_list_test

# Now, merge the two test datasets for testing
merged_test_df = pd.concat([test_symbols, test_digits], ignore_index=True)
merged_test_df.head()

     0    1    2    3    4    5    6  ...  778  779  780  781  782  783  Target
0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  1.0  1.0  1.0  1.0  1.0  1.0      10
1  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  1.0  1.0  1.0  1.0  1.0  1.0      10
2  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  1.0  1.0  1.0  1.0  1.0  1.0      10
3  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  1.0  1.0  1.0  1.0  1.0  1.0      11
4  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...  1.0  1.0  1.0  1.0  1.0  1.0      10

[5 rows x 785 columns]

In [25]:
# See stratification of merged training data
merged_test_df.groupby('Target')['Target'].agg('count')

Target
0      980
1     1135
2     1032
3     1010
4      982
5      892
6      958
7     1027
8      974
9     1009
10    1089
11    1205
12     120
13      31
Name: Target, dtype: int64

In [0]:
# Shuffle unified train and test datasets
merged_df = merged_df.sample(frac=1).reset_index(drop=True)
merged_test_df = merged_test_df.sample(frac=1).reset_index(drop=True)

In [0]:
# Check that dfs were merged correctly
merged_test_df

In [0]:
merged_df

In [0]:
# We need to invert the dataframes to be white digits (and symbols)
# on a black background
inverted_df = merged_df
inverted_df = inverted_df[[i for i in list(inverted_df.columns) if i != 'Target']]

inverted_df = abs(1-inverted_df)

inverted_df["Target"] = merged_df["Target"]


inverted_test_df = merged_test_df
inverted_test_df = inverted_test_df[[i for i in list(inverted_test_df.columns) if i != 'Target']]

inverted_test_df = abs(1-inverted_test_df)

inverted_test_df["Target"] = merged_test_df["Target"]

The next cell will save all the changes to the dataframes to new files called inverted_df and inverted_test_df, so that you don't have to run all these preprocessing steps again.

In [0]:
inverted_df.to_csv('inverted_df.csv', index=False)
inverted_test_df.to_csv('inverted_test_df.csv', index=False)